@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Fraunces:wght@900&display=swap");

// Colors and Values

@import "reset";

$media-tablet: 768px;
$media-desktop: 1140px;

:root {
  --dark-greyblue-900: #333d4b;
  --dark-cyan-600: #0e8784;
  --light-cyan-600: #00b8b8;
  --medium-grey-400: #83888f;
  --light-orange-200: #fdd6ba;
  --light-cream-100: #fefcf7;
  --yellow-thunder-500: #f9d851;

  //headings
  --xl-header-fs: 40px;
  --md-header-fs: 28px;
  --xs-header-fs: 24px;

  //body
  --lg-body-fs: 16px;
  --md-body-fs: 15px;
  --sm-link-fs: 12px;

  //margin and containers
  --page-margin: 24px;
  --page-container: 1200px;

  //media queris
  --media-tablet: 768px;
  --media-desktop: 1140px;

  @media (min-width: $media-tablet) {
    --xl-header-fs: 48px;
    --md-header-fs: 32px;
    --xs-header-fs: 24px;
    --page-margin: 40px;
  }

  @media (min-width: $media-desktop) {
    --xl-header-fs: 72px;
    --md-header-fs: 40px;
    --md-body-fs: 16px;
    --page-margin: 80px;
  }
}

body {
  background-color: var(--light-cream-100);
  color: var(--dark-greyblue-900);
}

// Typography

h1,
h2,
h3,
h4 {
  line-height: 1;
}

h1,
h2,
h3,
h4,
button,
span,
li {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

p,
.nav-link,
a {
  font-family: "Barlow", sans-serif;
}

p {
  font-size: 16px;
  line-height: 26px;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  color: var(--dark-greyblue-900);
  &:hover {
    font-weight: 700;
  }
}

section,
footer {
  margin: 0 var(--page-margin);
  @media (min-width: 1440px) {
    margin: 0 auto;
    max-width: 1280px;
  }
}

.button-primary {
  width: 217px;
  height: 56px;
  background-color: var(--dark-cyan-600);
  color: var(--light-cream-100);
  font-size: 18px;
  transition: 0.2s all linear;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18;
  &:hover {
    background-color: #66d2cf;
  }
  &:disabled {
    background-color: #e2dedb;
  }
}

.button-secondary {
  width: 217px;
  height: 56px;
  background-color: var(--dark-greyblue-900);
  color: var(--light-cream-100);
  font-size: 18px;
  transition: 0.2s all linear;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18;
  &:hover {
    background-color: #000000;
  }
  &:disabled {
    background-color: #be641e;
  }
}

.white-image {
  background-image: url(/assets/shared/white-image.jpg);
  @media (min-width: $media-tablet) {
    background-image: url(/assets/shared/white-image.jpg);
  }
  @media (min-width: $media-desktop) {
    background-image: url(/assets/shared/white-image.jpg);
  }
}

.alternate-title {
  text-align: center;
  background-image: linear-gradient(
    0deg,
    rgba(254, 252, 247, 1) 0%,
    rgb(73, 77, 82) 100%
  );
  background-clip: text;
  color: transparent;
  opacity: 0.7;
}

.li_selected {
  color: var(--dark-greyblue-900);
  border-bottom: 1px solid var(--dark-greyblue-900);
  span {
    color: var(--dark-cyan-600);
  }
}

.mobile_only {
  display: block;
  @media (min-width: $media-tablet) {
    display: none;
  }
}
