@import "resolution";

.hero_container {
  background-image: url(/assets/home/coffee-cup-home.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 24px;
  border-radius: 12px;
  margin-top: 90px;
  max-height: 600px;
  @media (min-width: $media-tablet) {
    background-image: url(/assets/home/coffee-cup-home.jpg);
  }
  @media (min-width: $media-desktop) {
    background-image: url(/assets/home/coffee-cup-home.jpg);
  }
}

.hero_content {
  @include flex-column-center;
  color: var(--light-cream-100);
  text-align: center;
  max-width: 398px;
  margin: 0 auto;
  h1 {
    font-size: var(--xl-header-fs);
    margin-bottom: 24px;
  }
  p {
    font-size: var(--lg-body-fs);
    margin-bottom: 39px;
  }
  @media (min-width: 768px) {
    align-items: flex-start;
    text-align: left;
    margin: 0 0 0 58px;
  }
  @media (min-width: $media-desktop) {
    max-width: 498px;
    h1 {
      margin-bottom: 32px;
    }
    p {
      max-width: 445px;
      margin-bottom: 56px;
    }
  }
}

.collection_container {
  position: relative;
  margin-bottom: 120px;
  margin-top: 120px;
  h2 {
    font-size: var(--xl-header-fs);
  }
  @media (min-width: $media-tablet) {
    margin-top: 203px;
    h2 {
      font-size: 96px;
      z-index: -1;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: -70px;
    }
  }
  @media (min-width: $media-desktop) {
    h2 {
      font-size: 135px;
      top: -100px;
    }
  }
}

.collection_card_container {
  max-width: 1050px;
  margin: 0 auto;
  @media (min-width: $media-desktop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
